.jumbotron {
	background-color: yellow;
	color: black;
	margin-top: px;
}
.btn{
	background-color;

.footer {
	padding: 10px 10 px 0 10 px;
	background-color: yellow;
	margin-bottom: 0px;
	margin-top: 10px;
}	

.card-hotel {
	flex: 1 150px;
	padding: 2px 5px 2px 5px;
	margin-top: 10px;
}

.btn-reserva {
	width: : 100%;
}